@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: 'Bellota Text', cursive;
  line-height: 1.6;
  background-image: url("../img/background.png");
  background-repeat: repeat; }

h1 {
  font-weight: 300;
  line-height: 1.2;
  margin: 50px 0;
  text-align: center; }

h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0; }

p {
  line-height: 2;
  font-weight: bolder;
  font-size: 16px; }

ul {
  line-height: 1.2;
  font-weight: bolder;
  font-size: 16px; }

li {
  list-style: none; }

.contenedor {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto; }

.container img {
  animation: aparecer 1s ease-in-out; }

form {
  font-weight: bolder; }

@keyframes desplazarDesdeArriba {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes desplazarDesdeAbajo {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateX(0); } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px; }
  .galeria img {
    transition: 1s;
    padding: 15px;
    width: auto;
    height: 200px;
    filter: grayscale(100%); }
    .galeria img:hover {
      filter: grayscale(0%);
      transform: scale(1.1); }

footer {
  background: linear-gradient(to right, #2f697a, #25c6cb, #ffd344);
  text-align: LEFT;
  color: white;
  width: 100%;
  padding: 20PX; }
  footer h5 {
    font-size: 2em; }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; }
  .fa:hover {
    opacity: 0.7; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.fa-twitter {
  background: #55ACEE;
  color: white; }

.fa-instagram {
  background: #125688;
  color: white; }

/*Colores*/
/*Tamaños*/
.galeria-clientes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px; }
  .galeria-clientes img {
    transition: 1s;
    padding: 15px;
    width: auto;
    height: 200px; }
    .galeria-clientes img:hover {
      transform: scale(1.1);
      box-shadow: 2px 2px 10px #336979; }

.row {
  margin: 50px; }
  .row img {
    width: 100%;
    box-shadow: 2px 2px 10px #336979; }

.col-md-6 iframe {
  width: 100%;
  height: 400px;
  border-style: 0; }

.navbar a {
  color: #336979;
  animation: desplazarDesdeArriba 1s ease-out;
  font-size: 1.5em; }

.navbar-nav a:hover {
  border-bottom: 1px solid; }

.navbar-brand img {
  width: 270px;
  height: 130px; }

.bg-light {
  background: linear-gradient(to right, white 60%, lightgray) !important;
  box-shadow: 2px 2px 10px black; }

.carousel {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  animation: aparecer 1s ease-in; }

.img-thumbnail {
  padding: 10PX;
  margin: 10PX;
  width: 250px;
  height: 200px;
  animation: aparecer 2s ease-in-out; }

.btn-primary {
  background: linear-gradient(to right, #25c6cb, #ffd344);
  margin-bottom: 10px;
  border-style: none;
  color: black;
  box-shadow: 2px 2px 10px #2f697a; }

.card {
  background: white;
  border-radius: 15px;
  border-style: solid;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 1000px; }

.card__thumbnail {
  width: 650px;
  height: 200px;
  background: black;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block; }

.card__img {
  width: 100%; }

.card__titulo {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px; }

.card__enlace {
  color: black;
  text-decoration: none; }
  .card__enlace a {
    text-decoration: none; }

.card__descripcion {
  line-height: 28px;
  color: #2f697a;
  margin-bottom: 20px; }

.boton {
  border: none;
  min-width: 100px;
  height: 50px;
  padding: 0 30px;
  background: black;
  color: white;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background: #2f697a; }
  .boton:hover {
    background: #25c6cb;
    text-decoration: none; }

.boton__texto {
  font-weight: 600;
  margin: auto; }

.boton--derecha {
  position: absolute;
  right: 20px;
  bottom: -25px; }

.boton--izquierda {
  position: absolute;
  left: 20px;
  bottom: -25px; }

.boton--rojo {
  background: #ffd344; }
