.galeria{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
	margin-bottom: 100px;
	img{
		transition: 1s;
		padding: 15px;
		width: auto;
		height: 200px;
		filter: grayscale(100%);
		&:hover{
			filter: grayscale(0%);
			transform: scale(1.1);
		}
}
}